  {% if options.sectionAnchor %}<span class="anchor-element" {{options.sectionAnchor ? 'id="'~ options.sectionAnchor ~'"'}} {{options.sectionAnchorLabel ? 'data-label="'~ options.sectionAnchorLabel ~'"'}}></span>{% endif %}
 <flynt-component name="BlockFullImageBackground"   class="{{options.backgroundColor}} {{options.paddingSize}} {{fn('disablePadding',options.padding)}}">
  <div class="{{options.containerSize}}">    
    <img loading="lazy"
    class="img-bg-center-cover hero-bg"
    src="{{ image.src }}"
    sizes="100vw"
    srcset="{{ image.srcset }}"
    alt="{{ image.alt }}" />    
    <span class="overlay"></span>
    {{fn('getBackgroundPattern',options.backgroundPattern)}}
    <article class="content {{contentPosition}}">
      {{content}}
      <div class="ctas">
        {% for btn in ctaLinks %}
          <a href="{{btn.cta.url}}" class="button {{btn.style}}">{{btn.cta.title}}</a>
        {% endfor %}
      </div>      
    </article>
  </div>
</flynt-component>