<flynt-component name="BlockPageNav" {{options.sectionAnchor ? 'id="'~ options.sectionAnchor ~'"'}} {{options.sectionAnchorLabel ? 'data-label="'~ options.sectionAnchorLabel ~'"'}}  class="{{options.backgroundColor}} {{options.paddingSize}} {{fn('disablePadding',options.padding)}}">
  {{fn('getBackgroundPattern',options.backgroundPattern)}}
  <div class="{{options.containerSize}}">
    <nav id="pageNav"></nav>
  </div>
</flynt-component>