<section class="flyntComponent componentSpacing {{options.paddingSize}} {{options.disablePadding}} {{terms ? 'has-filters'}}" is="flynt-block-posts-archive">
    <div class="{{ options.containerSize }}">

        {% if taxs %}
            <div class="filters">
                {% for tax in taxs %}
                    {% if tax.terms %}
                        <div>{{tax.label}}</div>
                        {% for term in tax.terms %}
                            <a href="{{term.link}}">{{term.name}}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if posts %}
            <div class="posts {{ options.maxColumns ? options.maxColumns : defaultMaxColumns}} {{options.liveFilters ? 'grid'}}">
                {% for post in posts %}
                    <article class="post" data-cat="{% for term in post.terms %}{{term.taxonomy == taxonomy ? function('sanitize_title',term.name)}} {% endfor %}">
                        <a class="image {{postShape}}" href="{{ post.link }}">
                            {% if post.thumbnail %}
                                <img loading="lazy" class="img-bg-center-cover" src="{{ post.thumbnail.src }}" sizes="(max-width: 768px) 100vw, 780px" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.thumbnail.alt }}"/>
                            {% endif %}
                        </a>
                        <div class="content">
                            <div class="meta">
                                {% if post.post_type != 'event' %}
                                    <span class="pill teal">{{post.date}}</span>
                                {% endif %}
                                {% set taxs = function('getTaxAndTerms',post) %}
                                {% for term in taxs[0].terms %}
                                    {% set link = function('get_term_link',term) %}
                                    <a href="{{ link }}">{{term.name}}</a>
                                {% endfor %}
                            </div>

                            <h2 class="h3 title mt8">
                                <a class="" href="{{ post.link }}" title="{{ post.title }}" aria-hidden="true" tabindex="-1">{{post.title}}</a>
                            </h2>
                            {# <p class="excerpt">{{ post.preview.read_more(false) }}</p> #}
                            {# <a class="" href="{{ post.link }}" title="{{ post.title }}" aria-hidden="true" tabindex="-1">
                                                                                                    {{ labels.readMore }}
                                                                                                  </a> #}
                        </div>
                    </article>
                {% else %}
                    <p class="posts-empty">{{ labels.noPostsFound }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% set pagination = posts.pagination %}
        {% if pagination.pages %}
            {% if loadMore %}
                {% if pagination.next %}
                    <div class="pagination pagination--center">
                        <div class="pagination-loadMore">
                            <a data-action="loadMore" href="{{ pagination.next.link }}" class="button button--small">{{ labels.loadMore }}</a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="pagination {% if not pagination.prev %} pagination--prevDisabled{% endif %}">
                    {% if pagination.prev %}
                        <a href="{{ pagination.prev.link }}" class="pagination-previous button button--small">
                            <i data-feather="arrow-left" class="arrow"></i>
                            {{ labels.previous }}</a>
                    {% endif %}
                    {% if pagination.next %}
                        <a href="{{ pagination.next.link }}" class="pagination-next button button--small">{{ labels.next }}
                            <i data-feather="arrow-right" class="arrow"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>
