 <flynt-component name="BlockWysiwyg" {{options.sectionAnchor ? 'id="'~ options.sectionAnchor ~'"'}}  class="{{options.backgroundColor}} {{options.paddingSize}} {{fn('disablePadding',options.padding)}}">
  <div class="{{options.containerSize}}">
    <div class="content"    
      {{ contentHtml }}
    </div>
  </div>
</flynt-component>